<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>


    <!-- First Container -->
    <div id="work" class="container-fluid bg-1 text-center">
        <h3>Here is some of our work.</h3>
        <p>
            <a href="/" </p>
    </div>

    <div id="price" class="container-fluid bg-2 text-center">
        <h3>Contact Us for pricing.</h3>
        <p>
            <h4>Contact Destiny Hall at<a href="tel:865-363-1819">865-363-1819.</a></h4>
        </p>
    </div>


    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <p>Full Stack Presented by Kevin Neely at <a href="https://kneely.space">kneely.space.</a></p>
    </footer>

</body>

</html>